.product-card-cont {
    display: flex;
    flex-direction: column;
    /* width: 17.5vw; */
    /* height: 100%; */
    margin-right: 2.5vw;
    /* aspect-ratio: 1/1; */
    min-width:250px;
    max-height:350px;
    /* max-width:250px; */
    /* max-height:10px; */
    /* max-width: */

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 100px 100px 10px 10px;
    transition: all 150ms ease; 
}
.product-card-cont:hover{
  /* width: 19.5vw;
  height: 19.5vh; */

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  min-width: 350px;
  /* min-height:300px;
  height: 250px; */

  /* min-height:450px; */

  /* aspect-ratio: 1/1; */
}

.product-card-top-cont {
    background-color: transparent;
    min-height: 44%;
    /* max-height:330px; */
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-size: cover;
    object-fit: 100%;
}

.product-card-rating-cont {
    background-color: white;
    border-radius: 50px;
    width: fit-content;
    padding-top: 5px;
    max-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 20px;
}

.product-card-timelogo {
    width: 18px;

}

.product-card-bottom-cont {
    display: flex;
    flex-direction: column;
    min-height: 50%;
    padding: 10px;
    background-color: white;
    justify-content: space-around;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

.product-card-name {
    font-weight: bold;
    font-size: 18px;
}

.product-card-info-cont {
    display: flex;
    margin-top: 10px;
}

.product-card-dtime-sample-text {
    color: #888cfc;
    margin-right: 10px;
}

.product-card-timeicon {
    width: 14px;
    margin-right: 5px;
}

.product-card-dtime {
    color: #888cfc;
}

.product-card-tags-cont {
    display: flex;
    flex-wrap: wrap;
}

.product-card-tag {
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px;
    color: darkgray;
    background-color: rgb(243, 243, 243);
}