@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.App {
  /* overflow: hidden; */
  display: flex;
  /* align-items: center;
    flex-direction: column; */
  width: 100vw;
  height: 100vh;

  /* height: 100%; */
}

.redcoso {
  width: 50%;
  background-color: red;
}

.testcont {
  display: flex;
}

.testcont2 {
  display: flex;
  overflow-x: scroll;
  overflow-y: visible;
  width: 90%;
  padding-left: 30px;
  padding-right: 30px;

  background-color: rgb(247, 247, 247);
  margin-bottom: 60px;
  min-height: 300px;

  max-height: 380px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.testcont3 {
  display: flex;
  width: 100vw;
}
.main-body {
  padding-top: 60px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  z-index: 0;
}
.testcont4 {
  display: flex;
  width: 100vw;
}
.main-body2 {
  padding-top: 60px;
  overflow-x: hidden;
  z-index: 0;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
