.sup-bar {
  position: sticky;
  /* display: grid; */
  display: flex;

  /* padding: 15px; */
  /* border-radius: 15px; */
  margin: 15px;
  margin-left: 25px;
  /* height: 50%; */
  top: 0px;
  gap: 1em;
  /* grid-template-columns: auto 0.5px auto 0.5px auto; */
  /* justify-items: start; */
  z-index: 10000;
  height: 45px;
  margin-bottom: 10%;
}

.Search-Button {
  border: none;
  background-color: transparent;
  background-image: none;
  outline: none;
  /* background-color: rgba(0,0,0,0); */
  /* fill-opacity: 0; */
  display: inline-block;
  /* background-image: url('./img/search.png'); */
  /* background-size: cover; */
  /* width: 23px;
  height: 25px; */
  height: 25px;
  /* border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden; */
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.4s;
}
.Search-Button:focus{
  border: none;
}
i{
  transition-duration: 0.15s;
}

i:hover {
  font-size: 30px;
  /* text-shadow:  */

  /* stroke-width: 2px; */
  /* width: 15px; */
}

.searching-container {
  display: flex;
  width: 50vw;
  align-items: center;
  border-radius: 10px;
  
  background-color: rgba(0,0,0,0);
  background-color: #fcfcfd;
  border: 2px solid #efefef;
}

.opts {
  display: flex;
  /* gap: 5em; */
  /* grid-template-columns: auto 0.5px auto; */
  /* justify-items: center; */
  /* align-content: ; */
  align-items: center;
  /* justify-content: space-around; */
}

.search-form {
  display: flex;
}

.input-text {
  width: 40vw;
  
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  outline: none;
  background-color: rgba(0,0,0,0);
  transition-duration: 0.15s;
  /* background-color: #fcfcfd; */

  /* margin-left: 7px;
  margin-right: 7px; */
}
.input-text:hover {
  font-size: 20px;
}

.input-text:focus {
  outline: none;
}

.filter-button {
  background-color: aquamarine;
  display: inline-block;
  background-image: url('./img/filter.png');
  background-size: cover;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  width: 34px;
  height: 26px;
  cursor: pointer;
  transition-duration: 0.15s;

}
.filter-button:hover {
  /* font-size: 30px; */
  /* text-shadow:  */

  /* stroke-width: 2px; */
  height: 30px;
  width: 30px;

}
.location-button {
  background-color: aquamarine;
  display: inline-block;
  background-image: url('./img/location.png');
  background-size: cover;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  width: 27px;
  height: 30px;
  margin-left: 1em;
  cursor: pointer;
  transition-duration: 0.15s;

}

.location-button:hover {
  /* font-size: 30px; */
  /* text-shadow:  */

  /* stroke-width: 2px; */
  height: 30px;
  width: 30px;

}