
.product-page-main-cont {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.product-page-img-buttons-cont {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.product-page-main-img {
    max-width: 100%;
    aspect-ratio: 8/5;
    border-radius: 0.5vh;
}

.product-page-img-nav-buttons-cont {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.product-page-img-nav-button {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.product-page-name-rating-cont {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.product-page-product-name {
    font-weight: bold;
    font-size: 22px;
    margin-right: 10px;
}

.product-page-rating {
    margin-right: 2px;
    font-size: 18px;
}

.ratingstar {
    height: 18px;
}

.product-page-bprice-dtime-cont {
    display: flex;
    margin-top: 25px;
}

.product-page-bprice-cont {
    display: flex;
    flex-direction: column;
    border-radius: 0.5vw;
    border: 2px solid lightgray ;
    min-width: 25%;
    padding: 5px;
    align-items: center;
    height: fit-content;
    margin-right: 5px;
}

.product-page-bprice-title {
    color: gray;
    font-size: 14px;
    margin-right: auto;
}

.diosmiopqnousogrid {
    display: flex;
    align-items: baseline;
}

.product-page-soles {
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}

.product-page-bprice {
    font-size: 24px;
    font-weight: bold;  
    letter-spacing: 1.3px;
}

.product-page-dtime-cont {
    display: flex;
    flex-direction: column;
    border-radius: 0.5vh;
    border: 2px solid lightgray ;
    padding: 5px;
    min-width: 25%;
    align-items: center;
    height: fit-content;
    margin-right: 5px;
}

.diosmiopqnousogrid2 {
    display: flex;
    align-items: center;
}

.product-page-dtime-title {
    color: gray;
    font-size: 14px;
    margin-right: auto;

}

.timelogo {
    height: 18px;
    margin-right: 5px;
}

.product-page-dtime {
    font-weight: bold;
    font-size: 24px;
}

.product-page-specs-cont {
    display: flex;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 10px;
}

.product-page-spec {
    background-color: rgb(255, 208, 0);
    border-radius: 100vw;
    color: white;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    min-width: calc(20%);
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.product-page-tags-cont {
    display: flex;
    width: 100%;
}

.product-page-tag {
    background-color: rgb(136, 0, 255);
    border-radius: 100vw;
    color: white;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    min-width: calc(20%);
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.product-page-stores {
    background-color: red;
    width: 50%;
}

